In [21]:
import pandas as pd

In [22]:
food = pd.read_csv('../data/chipotle.tsv', sep='\t')
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [23]:
food.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [24]:
food.shape

(4622, 5)

In [25]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [26]:
food.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [27]:
food.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [28]:
food.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [44]:
food.index

RangeIndex(start=0, stop=4622, step=1)

In [43]:
#데이터 전체 기본 통계로 요약
food.describe() #모든 숫자타입을 가지는 피쳐에 대해 기본 통계를 보임

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [31]:
#시리즈의 멤버함수 astype(변경하고 싶은 타입명)
food['order_id'] = food['order_id'].astype(str) 
food['order_id'].head()

0    1
1    1
2    1
3    1
4    2
Name: order_id, dtype: object

In [32]:
#데이터 전체 기본 통계로 요약
food.describe()

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [45]:
# 메뉴가 무엇이 있었나?
# 주문은 몇 개나 있었던 것일까?
food['item_name'].unique()
len(food['item_name'].unique())

50

In [46]:
#주문은 몇개나 있었던 것일까?
len(food['order_id'].unique())

1834

In [47]:
#그래프 한글 처리
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

#f_path = "/Users/administrator/Library/Fonts/AppleGothic.ttf"
f_path = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family=font_name)

In [51]:
# 가장 많이 주문한 메뉴명?
item_count.head(10)
order_count2 = food.groupby('item_name')['order_id'].count()

NameError: name 'item_count' is not defined

In [40]:
item_count=item_count[:10]
item_count

NameError: name 'item_count' is not defined

In [ ]:
type(item_count) #인덱스객체 + ndarray객체

In [ ]:
item_count.index

In [ ]:
item_count.values

In [39]:
# 많이 팔린 item 10개를 막대 그래프로 그려보자.
plt.figure(figsize=[16,8])
plt.bar(item_count.index, item_count.values) #plt.bar(x축값, y축값)

NameError: name 'item_count' is not defined

In [49]:
#순위별로 프린트해보세요.
# TOP 1: Chicken Bowl 726
#for x in range(len(item_count)):
#    print(x+1, ':', item_count.index[x], item_count.values[x])
    
# for x in range(len(item_count)):
#     print(x+1, ':', item_count[x])    

#enumerate: 열거하다, Jquery의 $('list').each():index랑 list의 항목을 하나씩 꺼내는 기능
for i in range(len(item_count)):
     print('TOP',i+1,':',item_count.index[i], item_count.values[i])
item_count[0]

NameError: name 'item_count' is not defined

In [50]:
print_top = list(map(lambda x : print("TOP", x+1 ," : ", item_count.index[x], item_count[x]), range(10)))

NameError: name 'item_count' is not defined

In [ ]:

for i, item in enumerate(item_count.iteritems(), 0): #0:index의 start값
    print('TOP', i + 1, ':', item)

In [ ]:
# enumerate 반목문: index, 반복할 item을 둘 다 꺼내주고 싶을때 사용
data100 = [100,200,300]
for i, item in enumerate(data100, 1): #0은 index의 start값
    print(i,':', item)

In [ ]:
item_count.tolist()

In [ ]:
#시리즈의 values만 꺼내오고 싶으면, 시리즈를 enumerate에 입력값으로 넣어주면 됨.
#시리즈를 tolist()하면 시리즈의 values만 리스트로 만들어진다.
for i, item in enumerate(item_count.tolist(), 1): #0은 index의 start값
    print('TOP',i+1,':', item) #values만 꺼내온다.

In [ ]:
# enumerate: 열거하다
# Jquery의 $('list').each(): index랑 list의 항목을 하나씩 꺼내는 기능
# item에는 시리즈의 index와 values를 tuple로 반복해서 꺼내온다.
#item_count.iteritems()가 dics 형태이므로 (pre, post)
for i, (pre, post) in enumerate(item_count.iteritems(), 0): #0:index의 start값
    print('TOP', i + 1, ':', pre,post)

In [ ]:
for i, item in enumerate(item_count.iteritems(), 0): #0: index의 start값
    print('TOP ', i + 1, ':', item)

In [ ]:
#제일 많이 팔린 메뉴명
item_count.index[0]

In [ ]:
# 제일 많이 팔린 갯수
item_count.values[0]

In [ ]:
food

In [ ]:
# item당 주문개수, 주문총량을 구해보세요.
order_count2 = food.groupby('item_name')['order_id'].count()
               #item_name의 값으로 그룹을 지어서, order_id만 count 해보세요.
order_count2

In [ ]:
order_count3 = food.groupby('item_name')['quantity'].sum()
               #item_name의 값으로 그룹을 지어서, 그룹별 quantity를 더해라
order_count3[:10]

In [ ]:
food['quantity'].sum()

In [ ]:
#50개를 그려봅시다!

In [ ]:
#50개를 그려봅시다!
#X축: 50개의 메뉴명 => 숫자를 부여하자.
x2 = np.arange(50) #[0,1,2,...]
#Y축: 메뉴별 판매량
y2 = order_count3.values

plt.figure(figsize=(18,8))
plt.bar(x2,y2)
plt.title('모든 주문한 메뉴의 판매량')
plt.xlabel('주문한 메뉴의 번호')
plt.ylabel('주문한 메뉴의 판매량')

In [ ]:
food

In [ ]:
food['item_price'].dtype #series에 들어있는 인스턴스의 타입

In [ ]:
food['quantity'].dtype

In [ ]:
type(food['item_price']) #열에 대한 타입

In [ ]:
food.dtypes

In [ ]:
food['item_price'][:5]

In [ ]:
#타입 변경 방법:시리즈명.astype(), float()함수 이용

In [ ]:
food['item_price'][4]

In [ ]:
type(food['item_price'][4])

In [ ]:
food['item_price'][4][1:] #슬라이싱

In [ ]:
float(food['item_price'][4][1:])

In [ ]:
#시리즈의 모든 행에 있는 string을 추출해서 $를 빼야한다.(인덱싱을 사용하기로 함.)
#시리즈를 모두 변경하기 위해서는 for문 있어야 함.
#float()함수는 비파괴 => float() 캐스팅한 결과를 리스트에 모아놨다가,
#반복문이 모두 끝나면 리스트에 모아놓은 데이터를 df의 컬럼에 다시 집어넣는다.

In [ ]:
result = []
for price in food['item_price']:
    result.append(float(price[1:]))
result[:10]

In [ ]:
food['item_price'] = result

In [ ]:
food['item_price'][:10]

In [ ]:
food['item_price'][:10].dtype

In [ ]:
food.describe() #피쳐들중에서 숫자타입을 가지는 시리즈의 기본 통계

In [ ]:
food

# 주문당 평균계산금액

In [ ]:
food_mean = food.groupby('order_id')['item_price'].sum().mean()
food_mean

# 한 주문에 40달러 이상 사용한 주문의 id들 출력

In [ ]:
food_sum = food.groupby('order_id')['item_price'].sum()
for x in range(len(food_sum)):
    if food_sum[x] > 40:
        print('id:',food_sum.index[x])

# 각 아이템의 가격 구하기

In [ ]:
cost = food.groupby('item_name')['item_price'].min()
cost

# 가장 비싼 주문에서 item이 몇개 팔렸는지 구하기

In [ ]:
sum1 = food.groupby('order_id').sum()
sum2 = sum1.sort_values(by='item_price', ascending=False)
sum2

# "Veggie Salad Bowl"이 몇 번 주문되었는지 구하기

In [ ]:
sum1 = 0
for x in  range(len(food)):
    if food['item_name'][x] == 'Veggie Salad Bowl':
        sum1 = sum1 + food['quantity'][x]
print(sum1,'개')

# "Chicken Bowl"을 2개 이상 주문한 횟수 구하기

In [ ]:
food2 = food[food['item_name'] == 'Chicken Bowl']
food3 = food2['quantity'].reset_index()
food3 = food3.drop(['index'], axis=1)
food3

# sum2 = 0
# for x in range(len(food2)):
#     if food3['quantity'][x] >= 2:
#         sum2 = sum2 + 1
# print(sum2)